@page "/rent"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using CarRental_BlazorApp.Models

@inject Blazored.SessionStorage.ISessionStorageService session
@inject IRentalData _db_Rentals
@inject IClientData _db_Clients
@inject ICarData _db_Cars
@inject ICarTypeData _db_Car_Types
@inject NavigationManager Navigation


<h3>Rental A Car</h3>
<h6>Please enter the details of your rental below and select a car type and fuel type to find a car to rent!:</h6>

<div class="row">
    <div class="col-10">
        <EditForm Model="@newRental" OnValidSubmit="@InsertRental">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label for="StartDate">Start Date: </label>
            <InputDate id="StartDate" @bind-Value="newRental.StartDate" min=@DateTime.Now.Date></InputDate>

            <label for="EndDate">End Date: </label>
            <InputDate id="EndDate" @bind-Value="newRental.EndDate" min=@DateTime.Now.Date></InputDate>

            <label for="Client_ID">Client ID: </label>
            <InputSelect id="Client_ID" @bind-Value="newRental.Client_ID" class="m-1">
                @if (clients is null)
                {
                    <option value="-1">-1</option>
                }
                else
                {

                    <option value="">Select</option>

                    @foreach (var client in clients)
                    {

                        <option value="@client.Client_id">@client.Client_id - @client.Name</option>
                    }
                }
            </InputSelect>

            <label for="Car_Type">Car Type: </label>
            <InputSelect id="Car_Type" @bind-Value="selectedCarType" class="m-1">
                @if (carTypes is null)
                {
                    <option value="-1">-1</option>
                }
                else
                {

                    <option value="">Select</option>

                    @foreach (var carType in carTypes)
                    {
                        <option value="@carType.CarType">@carType.CarType</option>
                    }
                }
            </InputSelect>
            <label for="fuelType">Fuel Type: </label>
            <InputSelect id="fuelType" @bind-Value="selectedFuelType" class="m-1">
                <option value="">Select</option>
                <option value="Diesel">Diesel</option>
                <option value="Petrol">Petrol</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Electric">Electric</option>
            </InputSelect>

        </EditForm>

        @if (cars is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <h3>Available Cars</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Registration</th>
                        <th>Fuel Type</th>
                        <th>Car Type</th>
                        <th>Cost Per Day</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in cars)
                    {
                        if (car.CarType.Equals(selectedCarType) && car.FuelType.Equals(selectedFuelType))
                        {
                            <tr>
                                <td>@car.Registration</td>
                                <td>@car.FuelType</td>
                                <td>@car.CarType</td>
                                <td>@car.CostPerDay</td>
                                <td><button @onclick="@(()=> setRegistration(@car.Registration))" value="@car.Registration" type="submit" class="btn btn-primary">Select</button></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

            @if (selectedRegistration.Length == 0)
            {
                <p>You have not selected a Registration</p>
            }
            else

            {
                <p>the registration you have selected is @selectedRegistration</p>
            }


            <button type="submit" class="btn btn-primary" @onclick="ClearSession">Exit</button>

            <button type="submit" class="btn btn-primary" @onclick="InsertRental">Confirm Rental</button>
        }
    </div>
</div>





 @code {
    private List<RentalModel> rentals;
    private List<ClientModel> clients;
    private List<CarModel> cars;
    private List<CarTypeModel> carTypes;
    private DisplayRentalModel newRental = new DisplayRentalModel();
    String selectedCarType = "";
    String selectedFuelType = "";
    String selectedRegistration = "";

    protected override async Task OnInitializedAsync()
    {
        rentals = await _db_Rentals.GetRentals();
        clients = await _db_Clients.GetClients();
        cars = await _db_Cars.GetCars();
        carTypes = await _db_Car_Types.GetCarTypes();
    }

    protected override void OnInitialized()
    {
        newRental.StartDate = DateTime.Now;
        newRental.EndDate = DateTime.Now;
    }
    public ClientModel client;

    private async Task InsertRental()
    {
        client = await session.GetItemAsync<ClientModel>("SessionUser");

        RentalModel rental = new RentalModel
                {
                    StartDate = newRental.StartDate.Date,
                    EndDate = newRental.EndDate.Date,
                    CarRegistration = selectedRegistration,
                    PickUpDate = DateTime.MinValue,
                    ReturnDate = DateTime.MinValue,
                    Status = 'A',
                    Client_ID = client.Client_id
                };
        await _db_Rentals.InsertRental(rental);

        rentals = await _db_Rentals.GetRentals();

        newRental = new DisplayRentalModel();

        ClearSession();
    }
    public void ClearSession()
    {
        session.ClearAsync();
        client = new ClientModel();
        Navigation.NavigateTo("/login");
    }

    public void setRegistration(String reg)
    {
        selectedRegistration = reg;
    }
}